.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 25rem;

    background-image: url(../../assets/images/1.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        color: blanchedalmond;
        font-weight: bold;
    }
}